@charset "utf-8";

#joinsection {
    padding-top: 106px;
    background-color: #eef5fc;
}

#joinsection #mainpage {
    max-width: 395px;
    margin: 0 auto;
    /* text-align: center; */
    position: relative;
}

#joinsection h1 {
    font-size: 30px;
    color: #282866;
    text-align: center;
    margin-bottom: 30px;
}


#joinsection #mainpage #joinin .style1 {
    width: 395px;
    padding: 15px 100px 15px 50px;
    background-color: #c1d5c8;
    border: none;
}

#joinsection #mainpage #more .style2 {
    width: 300px;
    padding: 12px 20px 12px;
    margin: 0 0 20px;
    background-color: #8ac2f06b;
    border: none;
    float: right;
}

#joinsection #joinin p span {
    display: block;
    text-align: left;
    font-size: 14px;
    color: red;
    margin-bottom: 15px;
    opacity: 0;
}

#joinsection .jpbg {
    background-image: url(../images/spimg.png);
    background-repeat: no-repeat;
    background-size: auto;
}

#joinsection #joinin input~span {
    width: 100%;
    background-position: -26px -73px;
    margin-right: 10px;
    vertical-align: middle;
}

#joinsection #joinin label {
    width: 20px; height: 20px;
    background-position: -26px -73px;
    position: absolute;
    top: 0; left: 0;

}
#joinsection #joinin p {
    overflow: hidden;
    position: relative;
}

#joinsection #joinin .passno {
    position: absolute;
    top: 158px; left: 15px;
}

#joinsection #joinin .passagain {
    position: absolute;
    top: 238px; left: 15px;
}

#joinsection #mainpage #joinin #idname~label {
    width: 20px; height: 20px;
    background-position: -94px -73px;
    position: absolute;
    top: 12px; left: 15px;
}

#joinsection #mainpage #joinin #passno+label {
    width: 21px;
    height: 22px;
    background-position: -115px -50px;
    position: absolute;
    top: 12px;
    left: 15px;
}

#joinsection #mainpage #joinin #passagain+label {
    width: 21px;
    height: 22px;
    background-position: -115px -50px;
    position: absolute;
    top: 12px;
    left: 15px;
}

#joinsection #joinin input:focus~span {
    opacity: 1;
}

#joinsection #joinin #idname+button {
    width: 120px;
    padding: 10px 0;
    border-radius: 5px;
    vertical-align: middle;
    margin-left: 5px;
    background-color: rgb(164, 164, 218);
    position: absolute;
    top: 74px;
    right: -125px;
    cursor: pointer;
}

#joinsection #more h2 {
    font-size: 20px;
    color: #282866;
    text-align: center;
    margin-bottom: 15px;
    
}

#joinsection #more p {
    overflow: hidden;
    position: relative;
}

#joinsection #more p span {
    padding: 0px 10px 10px 0;
    float: left;
}

#joinsection #more .gender {
    margin: 0px 0 10px 18px;
    position: relative;
}

#joinsection #more .gender input {
    margin: 0 0 0 35px;
    /* appearance: none; */
}

/* #joinsection #more .gender label{
    width: 25px;
    height: 25px;
    background-color: red;
    position: absolute;
    top: 0px;
    left: 3px;
} */

#joinsection #mainpage #more .birth {
    margin-left: 10px;
}


#joinsection #mainpage #more select {
    padding: 10px 18px;
    font-size: 14px;
    margin: 0px 0px 10px 10px;
}

#joinsection #mainpage #more #agree+label {
    width: 20px;
    height: 25px;
    /* background-color: red; */
    background-position: -20px 4px;
    position: absolute;
    top: -3px;
    left: 92px;
}

/* 질문 */
#joinsection #agree:checked #agree+label {
    background-position: 3px 4px;
}

#joinsection #mainpage #btnin {
    text-align: center;
}

#joinsection #mainpage #btnin button {
    width: 120px;
    padding: 16px 10px;
    background-color: #282866;
    color: #fff;
    margin: 20px 15px 50px;
    cursor: pointer;
    font-size: 16px;
}

#joinsection #mainpage #btnin button:first-child {
    width: 200px;
}

#joinsection .postno {
    position: relative;
}

#joinsection .postno button {
    position: absolute;
    top: 30px; left: 10px;
    border: 1px solid #ddd;
    background-color: #ddd;
}

#joinsection .checkb {
    background-image: url(../images/none.png);
    background-repeat: no-repeat;
    background-size: 100%;
    appearance: none;
}

#joinsection .checkb:checked {
    background-image : url(../images/check.png);
    background-repeat: no-repeat;
    background-size: 100;
}

#joinsection #textarea {
    margin-left: 19px;
    padding: 10px 5px;
}
